/*Top icons*/
img {
	margin-top: 20px;
	margin-left: 20px;
}

.settingsicon {
	margin-right: 20px;
	float: right;
}

/*Title + Subtitle*/
.apt-title {
	text-align: center;
	font-family: 'Pacifico', cursive;
	color: #5EB2F2;
}

.subtitle {
	text-align: center;
	font-family: 'Arimo', cursive;
	color: #0289F0;
}

/*Navigation*/
.btn {
	background-color: #5EB2F2;
}

.btn: active {
	background-color: #0289F0
}

.tasknav {
	text-align: center;
	margin-bottom: 50px;
	font-family: Helvetica, sans-serif;
}

.mainnav {
	font-family: Helvetica, sans-serif;
	position: fixed;
	bottom: 50px;
	width: 100%;
	text-align: center;
}

/*Task List*/
.list-group {
	overflow: auto;
	height: 200px;
	font-family: Helvetica, sans-serif;
}

.list-titles {
	font-weight: bold;
	color: #2699F2;
}

.item-title {
	margin-left: 40px;
}

/*Task items*/
li {
	padding: 10px 0;
}

.round-button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-style: solid;
	border-color: #2699F2;
	background-color: white;
}

.button-font {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
}

.assign-btn {
	font-family: Helvetica, sans-serif;
}

/*Mark Task Completed*/
.complete-button {
	float: left;
	margin-left: 10px;
}

.completed-btn {
	float: left;
	margin-left: 10px;
	color: white;
	background-color: #47B747;
}

.reversecompleted-item {
	background-size: 200% 100%;
	background-image: linear-gradient(to left, white 50%, #47B747 50%);
	background-position: right bottom;
	transition: all ease 0.8s;
}

.completed-item {
	background-position: left bottom;
	background-size: 200% 100%;
	background-image: linear-gradient(to right, #47B747 50%, white 50%);
	transition: all 0.8s ease;
}

.earned-points {
	text-align: left;
	margin-left: 18px;
}

.undo-complete {
	margin-left: 5px;
	float: left;
	display:inline-block;
}

/*Add Task*/
.addtaskdiv {
	text-align: center;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: white;
    background-color: rgba(255,255,255, 1);
    overflow-x: hidden;
    transition: 0.4s;
}

.overlay-content {
    position: relative;
    top: 0%;
    width: 100%;
}

form {
	margin-left: 20px;
	margin-right: 10px;
}

.action-buttons {
	text-align: center;
}

.addtitle {
	color: #5EB2F2;
}

/*Assign Person window*/
#dialog {
	display: none;
}

/*History*/
.historyperson {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border-style: solid;
	color: white;
	background-color: #0289F0;
}

.historyroomie {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
}

.roomie {
	margin-left: 30px;
}

.roomie-title {
	margin-left: 30px;
}

.tasksdone-title {
	text-align: center;
}

.pointsearned-title {
	text-align: center;
}

.tasksdone {
	text-align: center;
}

.pointsearned {
	text-align: center;
}
